.ActiveQuiz{
	padding: 20px;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 0 10px;
	box-sizing: border-box;
}

.Question {
	display: flex;
	justify-content: space-between;
}
small{
	width: 50px;
}